@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: normal;
    src: url("./Montserrat-Regular.woff") format("woff");
}

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 100;
    src: url("./Montserrat-Light.woff") format("woff");
}

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    src: url("./Montserrat-Medium.woff") format("woff");
}

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    src: url("./Montserrat-Bold.woff") format("woff");
}

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bolder;
    src: url("./Montserrat-Black.woff") format("woff");
}
