:global {

    /* 글로벌 스타일 정의 */
    .gradientText {
        background-image: linear-gradient(to left, var(--leftColor) 30%, var(--rightColor));
        -webkit-background-clip: text;
        -webkit-text-fill-color: rgba(0, 0, 0, 0);
    }
    
    .bigTxt {
        text-align: center;
        font-size: 3rem;
        font-weight: bolder;
        letter-spacing: -0.1rem;
        line-height: 1.5;
        color: rgb(57, 32, 5);
    }
}


.navLink {
    text-decoration: none;
    margin-right: 1rem;
    color: black;
}